@import 'normalize.css';

// variables
:root {
  --primary:#00E676;
  --secondary: #ff3d00;
  --tertiary: #4a148c;
  --space-small: 40px
}

html
  font-family 'Montserrat', sans-serif

.search-food, .add-amount, .results-list
  display flex
  flex-direction column
  text-align center
  align-items center

input, label
  display block
  background none
  border none

.default-input
  height 60px
  margin-top var(--space-small)
  display flex
  flex-direction column
  justify-content space-between
  color var(--secondary)
  &__input
    border-bottom 3px solid var(--secondary)

.results-list__item, .tab-single, .default-button
  cursor pointer
  border 0

.center
  text-align center

.primary
  display flex
  align-items center
  justify-content center
  color #fff
  background-color: var(--secondary)
  height 50px
  width 60%
  border-radius 30px
  margin var(--space-small)

.round
  width 30px
  height 30px
  background-color #D8D8D8
  border-radius 50%
  margin 0 5px