@import 'normalize.css';

.container
  margin 0 3%

.search-food, .add-amount, .results-list
  display flex
  flex-direction column
  text-align center
  align-items center
  margin-bottom 20px

.results-list ul
  list-style-type none
  padding 0
  margin 0

input, label
  display block

.selectedTab
  font-weight bold
